/*
Theme Name: Benzer
Theme URI: https://speciatheme.com/benzer-free/
Author: Specia
Author URI: https://speciatheme.com/
Description: Benzer is a trending WordPress theme with lots of powerful features, instantly giving a professional look to your online presence. It fits for business, portfolio, food & restaurant, gym & fitness, spa salon, medical practitioner & hospitals, landing pages, product pages, corporate business, digital agency, product showcase, financial advisor, accountant, law firm, wealth advisor, photography, personal, and any eCommerce stores. Benzer premium version provides you more than 10 different designs and supports popular plugins WPML, Polylang, WooCommerce, Contact Form 7, Revolution Slider, Elementor, Visual Composer, WP-Forms, Ninja Forms, Jetpack, WP-Featherlight, Give (WordPress Donation Plugin), Gravity Forms, Yoast SEO and many more. View the demo of Benzer Premium https://demo.speciatheme.com/pro/?theme=benzer
Template: specia
Version: 3.0.31
Tested up to: 5.6
Requires PHP: 5.6
License: GPLv3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: benzer
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu,  custom-logo, featured-image-header, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, editor-style, blog, photography, portfolio, grid-layout

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/
.navbar {
    padding: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus {
    padding: 40px 20px;
    border-radius: 0;
    font-weight: 500;
}
.navbar-default .navbar-nav > li > a {
    padding: 40px 20px;
    font-weight: 500;
}
.navbar-header {
    padding: 24px 0;
}
.post_date h6 {
    color: #fff;
}

/*---------------------------------------
    Header Social Icons
-----------------------------------------*/
.header-top-info-1 .social {
    padding: 0px 0;
    margin: 0;
    line-height: 20px;
    padding: 5px 0 4px;
}
.header-top-info-1 .social li {
    font-family: 'Awesomefont';
    margin-right: 4px;
    display: inline-block;
}
.header-top-info-1 .social li {
    position: relative;
}
.text-center .social li {
    margin: 0 2px;
}
.social li a {
    display: table;
    position: relative;
    -webkit-transition: .3s all;
    transition: .3s all;
     overflow: hidden;
}
.header-top-info-1 .social li a i {
    background: #747474;
    border-radius: 3px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
    width: 25px;
    height: 25px;
    font-size: 12px;
    -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}
.header-top-info-1 .social li a i:hover {
    color: #ffffff;
    -webkit-animation: socialFxD .3s forwards;
            animation: socialFxD .3s forwards
}
@-webkit-keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
                transform: translateX(100%)
    }
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
    }
    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@media only screen and (min-width: 200px) and (max-width: 768px) { 
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
        padding: 14px 17px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 14px 17px;
    }
}

/*---------------------------------------
    Search Result
-----------------------------------------*/ 
.page-wrapper .posts-navigation a {
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 24px;
    border-radius: 30px;
    display: table-cell;
    float: left;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.page-wrapper .posts-navigation a:hover {
    color: #fff;
}
.page-wrapper .posts-navigation .nav-next {
    float: right;
}